# Project dependent
tmp/

# Environment
/.venv

# VS Code
.vscode/
*.code-workspace

# PyCharm
/.idea/exam_template.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml

# Pychache
__pycache__/

